{{ 'blog.css' | asset_url | stylesheet_tag }}

<!--Blog Title-->
<h1 class="title full-width" style="--title-color:{{ section.settings.title_color }}; --title-bg:{{ section.settings.title_bg }};">{{ blog.title }}</h1>

<!--Blog Card-->
{% paginate blog.articles by 8 %}
    <div class="blog-card" style="--padding-top:{{ section.settings.padding_top }}px; --padding-bottom:{{ section.settings.padding_bottom }}px;">
  
     {% for article in blog.articles %}
       <div class="card" style="--card-background: {{ section.settings.card_background }};">
         <div class="card-header">
           {% if article.image %}
              <div class="image-{{ section.settings.select_height }}">
                {{ article.image | image_url: width: 500 | image_tag }}
              </div>
           {% else %}
              {% assign placeholder_image = 'lifestyle-2' %}
              <div class="image-{{ section.settings.select_height }}">
                {{ placeholder_image | placeholder_svg_tag }}
              </div>
           {% endif %}
         </div>
         <div class="card-body text-{{ section.settings.card_alignment }}" style="--card-heading-color: {{ section.settings.card_heading_color }}; --card-text-color: {{ section.settings.card_text_color }}; --card-author-color: {{ section.settings.card_author_name_color }}; --card-date-color: {{ section.settings.card_published_color }};">
          
            {% if section.settings.tag_enabled %}
            <span class="tag tag-teal" style="--tag-bg:{{ section.settings.blog_tag_color }}; --tag-text:{{ section.settings.tag_text_color }}; --border-radius:{{ section.settings.tag_corner_radius }}px;">
              {{blog.tags}}
            </span>
            {% endif %}

            <h2 class="blog-title">
              {{article.title | link_to: 'article.url'}}
            </h2>
 
            <p class="card-content">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt | strip_html | truncatewords: 20 }}
              {% else %}
                {{ article.content | strip_html | truncatewords: 20 }}
              {% endif %}  
            </p>

            <div class="user">
              {% if section.settings.author_icon != blank %}
               <img 
                 src="{{ section.settings.author_icon | image_url: width: 48 }}"
                 srcset="
                   {{ section.settings.author_icon | image_url: width: 48 }} 1x,
                   {{ section.settings.author_icon | image_url: width: 96 }} 2x,
                   {{ section.settings.author_icon | image_url: width: 144 }} 3x
                 " 
                 width="24" height="24"
                 alt="{{article.author | escape}}"
                 class="author-icon"
                 loading="lazy"
               >
              {% endif %}
              <div class="user-info">
                <h3 class="author-name">
                  {{ article.author }}
                </h3>
                <small>
                  {{- article.published_at | time_tag: format: 'date' -}}
                </small>
             </div>
            </div>
          </div>
        </div>
     {% endfor %}
    </div>

      <div class="pagination">
        {% render 'pagination', pagination: paginate %}
      </div>
{% endpaginate %}  



{% schema %}
{
  "name": "t:general.blog",
  "settings": [
    {
      "type": "header",
      "content": "Blog Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:labels.textColor",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "title_bg",
      "label": "t:labels.bgColor"
    },
    {
      "type": "header",
      "content": "Card Settings"
    },
    {
      "type": "select",
      "id": "select_height",
      "label": "t:general.ImageHeight",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "tag_enabled",
      "label": "Enable Tag",
      "default": false
    },
    {
      "type": "range",
      "id": "tag_corner_radius",
      "label": "Tag Border Radius",
      "min": 0,
      "max": 10,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "card_alignment",
      "label": "Card Content Alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "image_picker",
      "id": "author_icon",
      "label": "Author icon"
    },
    {
      "type": "header",
      "content": "Card Body Colors"
    },
    {
      "type": "color",
      "id": "card_background",
      "label": "Card Background",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "blog_tag_color",
      "label": "Tag Background",
      "default": "#ccc"
    },
    {
      "type": "color",
      "id": "tag_text_color",
      "label": "Tag Text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "card_heading_color",
      "label": "Heading color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "card_text_color",
      "label": "Body text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "card_author_name_color",
      "label": "Author name color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "card_published_color",
      "label": "Published date color",
      "default": "#888785"
    },
    {
      "type": "header",
      "content": "t:labels.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
